div{
    color: #1F2937 ;/*(Charcoal)*/
    color: #F3F4F6 ;/*(Off-White)*/
    color: #3B82F6 ;/*(Bright Blue)*/
    color: #111827 ;/*(Almost Black)*/
}

div{
    color: #2c7a7b;/*(Teal)*/
    color: #EDF2F7; /*(Very Light Gray)*/
    color: #E53E3E; /*(Crimson Red)*/
    color: #2D3748 /*(Charcoal)*/
}